

<div class="container-fluid">
      {{!-- List preview bar --}}
      <div class="row">
        <div class="col-lg-4" style="background:#ADA996;">
            {{> new-list-button}}

            {{#if lists}}
                <ul class="flex-column" id="todo-list">
                {{#each lists}}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{this.date}}</h6>
                            <p class="card-text">{{this.body}}</p>
                            <a href="#" class="btn btn-danger" onclick="deleteList(this)" list-id='{{ this._id }}'>Delete</a>
                        </div>
                    </div>
                {{/each}}
                </ul>
                
            {{else}}
    
                <h1>No lists, add something!</h1>
            {{/if}}
        </div>

        {{!-- List write bar --}}
        <div class="col-lg-8" style="background: #DBDBDB;">
          {{> list-form}}
        </div>
      </div>
    </div>
