
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            {{> list-form}}
            {{!-- Show saved lists --}}
            <div class='list-group' id='lists'>
                {{#each lists}}
                    <div onClick="window.location='/list/{{this._id}}'" class="list-group-item list-group-item-action">
                        <h5 class="">{{this.title}}</h5>
                        <p class="mb-2 text-muted">List created at: {{this.created_at}}</p>
                        {{#if this.updated_at}}
                            <p class="mb-2 text-muted">List updated at: {{this.updated_at}}</p>
                        {{/if}}
                        <div onClick="event.stopPropagation()">
                            {{#each this.body as |value key|}}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            {{#if value.checked}}
                                            <input checked type="checkbox" aria-label="Checkbox for following text input" mongoid="{{../_id}}" ix="{{key}}">
                                            {{else}}
                                            <input type="checkbox" aria-label="Checkbox for following text input" mongoid="{{../_id}}" ix="{{key}}">
                                            {{/if}}
                                        </div>
                                    </div>
                                    <input type="text" class="form-control list" aria-label="Text input with checkbox" value="{{{value.label}}}" mongoid="{{../_id}}" ix="{{key}}">
                                </div>
                            {{/each}}
                        </div>
                        <form method="POST" action="/list/{{this._id}}?_method=DELETE">
                            <button class="btn btn-danger" type="submit" onclick="deleteList(this)" list-id='{{ this._id }}'>Delete List</button>
                        </form>

                    </div>
                {{/each}}
            </div>   
        </div>
    </div>
</div>




